// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary: #352263; // Darker Premium Purple
$secondary: #ffcf5c; // Warm Yellow
$accent: #ff7b9c; // Soft Pink Accent

$dark: #1f1d2b; // Dark Navy for better contrast
$dark-page: #121212;

$positive: #4caf50;
$negative: #ff5757;
$info: #00bcd4;
$warning: #ffc107;

// Custom Brand Colors
$purple-dark: #3f8cff;
$purple-light: #a0d7e7;
